@model User

<h2> Register a New User </h2>

<form method="post">
    <input type="hidden" asp-for="CustomerId" />
    <input type="hidden" asp-for="UserId" />
    <table>
        <tr>
            <th><label class="font-weight-bold" asp-for="Email"> Email: </label></th>
            <td> <input asp-for="Email" placeholder="Enter your email" required /> </td>
        </tr>
        <tr>
            <th> <label class="font-weight-bold" asp-for="PassWord"> Choose a password: </label> </th>
            <td> <input asp-for="PassWord" type="password" placeholder="*************" required /> </td>
        </tr>
        <tr>
            <th><label class="font-weight-bold" asp-for="Customer.FirstName"> First Name: </label></th>
            <td> <input asp-for="Customer.FirstName" /> </td>
        </tr>
        <tr>
            <th> <label class="font-weight-bold" asp-for="Customer.LastName"> Last Name: </label> </th>
            <td> <input asp-for="Customer.LastName" /> </td>
        </tr>
        <tr>
            <th><label class="font-weight-bold" asp-for="Customer.PhoneNumber"> Phone Number: </label></th>
            <td> <input asp-for="Customer.PhoneNumber" /> </td>
        </tr>
        <tr>
            <th> <label class="font-weight-bold" asp-for="Customer.Address"> Address: </label> </th>
            <td> <input asp-for="Customer.Address" /> </td>
        </tr>
        <tr>
            <th><label class="font-weight-bold" asp-for="Customer.City"> City: </label></th>
            <td> <input asp-for="Customer.City" /> </td>
        </tr>
        <tr>
            <th> <label class="font-weight-bold" asp-for="Customer.State"> State: </label> </th>
            <td> <input asp-for="Customer.State" /> </td>
        </tr>
        <tr>
            <th> <label class="font-weight-bold" asp-for="Customer.ZipCode"> Zipcode: </label> </th>
            <td> <input asp-for="Customer.ZipCode" /> </td>
        </tr>
        <tr>
            <th></th>
            <td> <input type="submit" class="btn btn-primary" value="Add New User" /> <input type="submit" class="btn btn-warning" asp-controller="Home" asp-action="Welcomepage" value="Back" /> </td>
        </tr>
    </table>
</form>

