@model User

<label class="font-weight-bold"> Email: </label> @Model.Email
<br />
<label class="font-weight-bold"> Password: </label> @Model.PassWord
<br />
<h4> Are You Sure? </h4>
<form method="post">
    <input type="submit" asp-action="DeleteUser" class="btn btn-dark" value="Delete" />
    <input type="submit" asp-action="UserDetail" class="btn btn-dark" asp-route-id="@Model.UserId" formmethod="get" value="Cancel" />
</form>
