@model ListViewModel

<div class="bg-dark p-2 text-white text-center">
    <h3><span class="navbar-brand ml-2 badge"> List of @Model.Users.Count() Users </span></h3>
</div>
<hr />

@foreach (var user in Model.Users)
{
    <h5> <a asp-controller="User" asp-action="UserDetail" asp-route-id="@user.UserId">@user.Email </a> </h5>
    <hr />
}

<a asp-controller="User" asp-action="AddUser" class="btn btn-dark"> Add a new user </a>
<hr />

<div page-model="@Model.PagingInformation" page-action="Index" page-class-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>

