@model User

<h3> Edit User </h3>

<form method="post">
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="CustomerId" />
    <table>
        <tr>
            <th><label class="font-weight-bold" asp-for="Email"> Email: </label></th>
            <td> <input asp-for="Email" placeholder="Enter your email" required /> </td>
        </tr>
        <tr>
            <th> <label class="font-weight-bold" asp-for="PassWord"> Choose a password: </label> </th>
            <td> <input asp-for="PassWord" type="password" placeholder="*************" required /> </td>
        </tr>
        
        <tr>
            <th></th>
            <td> <input type="submit" class="btn btn-primary" value="Update User" /> <input type="submit" class="btn btn-warning" asp-controller="User" asp-action="UserDetail" asp-route-id="@Model.UserId" value="Back" /> </td>
        </tr>
    </table>
</form>