@model User

<form method="post">
    <input type="hidden" asp-for="UserId" />
    <table>
        <tr>
            <th><label class="font-weight-bold" asp-for="Email"> Email: </label> </th>
            <td> <input asp-for="Email" placeholder="Enter your email" /> </td>
        </tr>
        <tr>
            <th> <label class="font-weight-bold" asp-for="PassWord"> Choose a password: </label> </th>
            <td> <input asp-for="PassWord" type="password" placeholder="***************" /> </td>
        </tr>
        <tr>
            <th></th>
            <td> <input type="submit" class="btn btn-dark" value="Update User" /> <input type="submit" class="btn btn-dark" asp-controller="User" asp-action="UserDetail" asp-route-id="@Model.UserId" value="Cancel" /> </td>
        </tr>
    </table>
</form>