
@{
    Layout = null;
}

<!DOCTYPE html>


<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Harrys Grocery Store </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body class="container">
    <header>
        <h3 class="text-primary">Harrys Grocery Store</h3>
        <div>
            <pre class="text-primary font-weight-bold ">
       23564 Holly Spring Way          Store Hours                                                                      
       Houston, TX 77032               Monday to Sunday              
       281-482-1234                    8AM to 7PM                                           <strong><a asp-controller="Product" asp-action="Index">Products</a></strong>   <strong><a asp-controller="Order" asp-action="OrderDetail">Track Orders</a></strong>   <strong><a asp-controller="User" asp-action="Index" >Account</a> </strong> <strong><a asp-action="">My Items</a></strong>  <strong><a asp-controller="User" asp-action="Logout">Log out</a></strong>
            </pre>
        </div> <hr />
    </header>
    <div>
        <img src="https://th.bing.com/th/id/R0fa629e4b18281e6839df0ff94a871c0?rik=KJ7SaNRq6TcaHQ&riu=http%3a%2f%2fcdn.walkthroughindia.com%2fwp-content%2fuploads%2f2019%2f06%2fbigbasket.jpg&ehk=vTuJeDg4g75fw7Py6quKQHXP%2fx9Lck6unMVpr5j4KR8%3d&risl=&pid=ImgRaw" alt="An image of a dairy section inside the store" width="1100" height="670" />
    </div>
</body>
</html>
