@model ListViewModel

<div class="bg-dark p-2 text-white text-center">
    <h3><span class="navbar-brand ml-2 badge"> List of @Model.OrderDetails.Count() OrderDetails </span></h3>
</div>
<hr />

@foreach (var orderDetail in Model.OrderDetails)
 {
    <div class="card card-outline-primary m-1 p-1">
        <div class="fg-faded p-1">
            <h4>
                <a asp-action="OrderDetail" asp-route-id=" @orderDetail.OrderDetailId"> @orderDetail.OrderDetailId </a>
            </h4>
        </div>
    </div>
 }

<a asp-controller="OrderDetail" asp-action="AddOrderDetail" class="btn btn-dark"> Add a new OrderDetail </a>
<hr />

<div page-model="@Model.PagingInformation" page-action="Index" page-class-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>

