@model Product

<table>
    <tr>
        <th class="text-right"> Product Name: </th>
        <td class="p-2"> @Model.ProductName </td>
    </tr>
    <tr>
        <th class="text-right"> Category: </th>
        <td class="p-2"> @Model.Category </td>
    </tr>
    <tr>
        <th class="text-right"> Unit Price: </th>
        <td class="p-2"> @Model.Price.ToString("C") </td>
    </tr>
</table>
<hr />

<h4> Are You Sure? </h4>
<form method="post">
    <input type="submit" asp-action="DeleteProduct" class="btn btn-dark" value="Delete" />
    <input type="submit" asp-action="ProductDetail" class="btn btn-dark" asp-route-id="@Model.ProductId" formmethod="get" value="Cancel" />
</form>
