@model IQueryable<Product>


<hr />
@foreach (Product p in Model)
{
<table>
    <tr>
        <th class="text-right"> Product Name: </th>
        <td class="p-2"> @p.ProductName </td>
    </tr>
    <tr>
        <th class="text-right"> Category: </th>
        <td class="p-2"> @p.Category </td>
    </tr>
    <tr>
        <th class="text-right"> Unit Price: </th>
        <td class="p-2"> @p.Price.ToString("C") </td>
    </tr>
    <tr>
        <th class="text-right"> Supplier: </th>
        <td class="p-2"> @p.Supplier.CompanyName </td>
    </tr>
</table>
    <hr />
}


