
@{
    Layout = null;
}
<!DOCTYPE html>


<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Harrys Grocery Store </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body class="container">
    <header>
        <div>
            <h3 class="text-primary">Harrys Grocery Store</h3>
            <pre class="text-primary font-weight-bold ">
        23564 Holly Spring Way          Store Hours
        Houston, TX 77032               Monday to Sunday
        281-482-1234                    8AM to 7PM                                                               <strong><a asp-controller="Admin" asp-action="AdminSignUp">Admin</a></strong>    <strong><a asp-controller="Admin" asp-action="EmployeePortal">Employee Portal</a></strong>   <strong> <a asp-controller="Admin" asp-action="AdminSignUp">  Admin </a></strong>
             </pre>
        </div> <hr />
    </header>
    <h3> Reset Password </h3>
    <form method="post" class="m-2">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <input name="emailAddress" class="form-control" type="email" required />
            <input type="submit" value="Reset Password" />
        </div>
    </form>
</body>
</html>
