@model Supplier

<form method="post">
    <input type="hidden" asp-for="SupplierId" />
    <table>
        <tr>
            <th><label class="font-weight-bold" asp-for="CompanyName"> Company Name: </label></th>
            <td> <input asp-for="CompanyName" /> </td>
        </tr>
        <tr>
            <th> <label class="font-weight-bold" asp-for="ContactName"> Contact Name: </label> </th>
            <td> <input asp-for="ContactName" /> </td>
        </tr>
        <tr>
            <th><label class="font-weight-bold" asp-for="ContactEmail"> Contact Email: </label></th>
            <td> <input asp-for="ContactEmail" /> </td>
        </tr>
        <tr>
            <th><label class="font-weight-bold" asp-for="ContactPhone"> Contact Phone: </label></th>
            <td> <input asp-for="ContactPhone" /> </td>
        </tr>
        <tr>
            <th></th>
            <td> <input type="submit" class="btn btn-primary" value="Update Supplier" /> <input type="submit" class="btn btn-warning" asp-controller="Supplier" asp-action="SupplierDetail" asp-route-id="@Model.SupplierId" value="Cancel" /> </td>
        </tr>
    </table>
</form>