@model SalesOrder

<form asp-controller="SalesOrder" asp-action="AddSalesOrder" method="post">
    <table>
        <tr>
            <th><label class="font-weight-bold" asp-for="SalesAmount"> Sales Amount: </label></th>
            <td> <input asp-for="SalesAmount" /> </td>
        </tr>
        <tr>
            <th><label class="font-weight-bold" asp-for="OrderDate"> Order Date: </label></th>
            <td> <input asp-for="OrderDate" /> </td>
        </tr>
        <tr>
            <th> <label class="font-weight-bold" asp-for="ShippedDate"> Shipped Date: </label> </th>
            <td> <input asp-for="ShippedDate" /> </td>
        </tr>
        <tr>
            <th><label class="font-weight-bold" asp-for="ShipAddress">  Address: </label></th>
            <td> <input asp-for="ShipAddress" /> </td>
        </tr>
        <tr>
            <th> <label class="font-weight-bold" asp-for="ShipCity"> City: </label> </th>
            <td> <input asp-for="ShipCity" /> </td>
        </tr>
        <tr>
            <th><label class="font-weight-bold" asp-for="State"> State: </label></th>
            <td> <input asp-for="State" /> </td>
        </tr>
        <tr>
            <th><label class="font-weight-bold" asp-for="Zipcode"> ZipCode: </label></th>
            <td> <input asp-for="Zipcode" /> </td>
        </tr>
        <tr>
            <th></th>
            <td> <input type="submit" class="btn btn-dark" value="Add SalesOrder" /> <input type="submit" class="btn btn-dark" asp-action="Index" value="Back" /> </td>
        </tr>
    </table>
</form>

